<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 自定义一个权限匹配器 -->
    <bean id="permissionResolver" class="com.sac.shiro.core.UrlPermissionResolver"/>

    <bean id="kictOut" class="com.sac.shiro.filter.KickoutSessionFilter"></bean>

    <!--cas登陆-->
    <bean id="casRealm" class="com.sac.shiro.core.CaseRealm">
        <!-- cas服务端地址前缀 -->
        <property name="casServerUrlPrefix"
                  value="https://server.zhoubang85.com:8443/cas"/>
        <!-- 应用服务地址，用来接收cas服务端票据 -->
        <property name="casService" value="http://localhost:8081/sac"></property>
    </bean>

    <bean id="casSubjectFactory" class="org.apache.shiro.cas.CasSubjectFactory"/>
    <!--cas配置-->


    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="casRealm"/>
        <!--配置缓存 这个是基于redis的缓存 缓存角色和权限的信息，避免每次都去查询数据库，照成数据库的压力-->
        <!-- <property name="cacheManager" ref="ehCacheManager"/>-->
        <!--session的管理-->
        <!--这个是基于redis的缓存-->
        <property name="cacheManager" ref="customShiroCacheManager"/>
        <!--自定义session管理器-->
        <property name="sessionManager" ref="sessionManager"/>
        <property name="subjectFactory" ref="casSubjectFactory"/>
    </bean>

    <bean id="casFilter" class="org.apache.shiro.cas.CasFilter">
        <property name="failureUrl" value="/user/casFailure"/>
        <property name="successUrl" value="/user/main"/>
    </bean>

    <!--自定义cacheManager-->
    <bean id="customShiroCacheManager" class="com.sac.shiro.cache.CustomShiroCacheManager">
        <property name="shiroCacheManager" ref="jedisShiroCacheManager"/>
    </bean>
    <bean id="jedisShiroCacheManager" class="com.sac.shiro.cache.JedisShiroCacheManager">
        <property name="jedisManager" ref="jedisManager"/>
    </bean>
    <!-- redis 的缓存 -->
    <bean id="jedisManager" class="com.sac.shiro.cache.JedisManager">
        <property name="jedisPool" ref="jedisPool"/>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!-- 如果认证不通过,浏览器通过 Get 方式请求到 /login 上  可以直接些jsp吗？ -->
        <property name="loginUrl" value="https://server.zhoubang85.com:8443/cas/login?service=http://localhost:8081/sac"/>
      <!--  <property name="successUrl" value="/user/main"/>-->
        <!--访问没有权限的资源-->
      <!--  <property name="unauthorizedUrl" value="/user/error"/>-->
        <property name="filters">
            <map>
                <entry key="casFilter" value-ref="casFilter"></entry>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /sac = casFilter
                /user/login = anon
                /user/checklogin =anon
                /resources/** = anon
                /user/error =anon
                /favicon.ico = anon
                /user/toLogOut =anon
                /user/sysError = anon
                /webjars/** = anon
                /swagger-resources/** = anon
                /v2/** = anon
                /swagger-ui.html = anon
               <!-- /** = authc , resourceCheckFilter ,kictOut-->
                /** = user
            </value>
        </property>
    </bean>

    <!-- 声明一个自定义的过滤器 -->
    <bean id="resourceCheckFilter" class="com.sac.shiro.filter.ResourceCheckFilter"/>

    <!-- Shiro生命周期处理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- AOP式方法级权限检查 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
          depends-on="lifecycleBeanPostProcessor">
        <!--如需要注解开发 需要加如下内容-->
        <property name="proxyTargetClass" value="true"/>
    </bean>

    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

    <bean id="sessionDAO" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO"></bean>
    <bean id="customSessionListener" class="com.sac.shiro.listener.CustomSessionListener">
        <property name="sessionDAO" ref="sessionDAO"/>
    </bean>

    <!-- 会话Cookie模板，使用sid存储sessionid -->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sid"/>
        <property name="httpOnly" value="true"/>
        <property name="maxAge" value="180000"/>
    </bean>
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDAO"></property>
        <!-- 相隔多久检查一次session的有效性   -->
        <property name="sessionValidationInterval" value="1800000"/>
        <property name="globalSessionTimeout" value="1800000"/>
        <!--配置sessionIdCookie管理器-->
        <!--  <property name="sessionIdCookieEnabled" value="true"></property>
          <property name="sessionIdCookie" ref="sessionIdCookie"></property>-->
        <property name="sessionListeners">
            <list>
                <ref bean="customSessionListener"/>
            </list>
        </property>

    </bean>

</beans>